@{
    ViewBag.Title = "Index";
}

@*-- Consumed by CategoryView.js --*@
<div id="content-container"></div>

@section Scripts {
    <script>

        $(function () {
            //alert("Dood! I'm from Index.cshtml");
        });

    </script>
}