/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 960pt;
    }
}

/*#region General*/

p {
    /*override bootstrap*/
    margin-bottom: 0px;
}|

.jumbotron {
    padding-bottom: 5px;
    padding-top: 5px;
}

.makeHidden {
    display:none;
}

.padding-top {
    padding-top: 20px;
}

.imagePlaceHolder {
    background-color: black;
    color: white;
    font-size: 9px;
    line-height: 50pt;
    text-align: center;
    margin-bottom: 2px;
}

.imagePlaceHolderBig {
    line-height: 200pt;
}

.imagePlaceHolderRow {
    margin-right: 5px;
}

/*#endregion*/


/*#region Assignment styles*/

body {
    font-size: 11px;
    font-family: 'Arvo';
}

.topNav {
    font-size: 9pt;
}

.expandableDiv {
    height:100px;
    /*css3 transition*/
    transition:height 1s;
}

.expandableDiv:hover
{
    /*display cursor as a hand*/
    cursor: pointer; 
}

.expandableDiv-expand
{
    height:175px;
}

.expandableDiv-collapse
{
    height:100px;
}

.cateogryStyle {
    font-size: 14pt;
    color: #333333;
}

.centerHeaderDate {
    font-size: 14pt;
    color: #333333;
}

.centerHeader {
    text-align: center;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 36pt;
    font-weight: bold;
}

.bannerText {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
}

.bannerTextSub {
    text-align: center;
    font-size: 12pt;
    margin-top: 30px;
}

.articleLocation {
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial;
}

/*#region aside */
.aside-Title {
    font-weight: bold;
    font-size: 19pt;
    line-height: 20pt;
    color: #333333;
}

.aside-snippet {
    font-size: 12pt;
    line-height: 15pt;
    color: #333333;
}

/*#endregion*/

/*#region main*/

section article:first-of-type p.main-title  {
    font-style: italic;
    font-size: 16pt;
    line-height: 20pt;
    color: #333333;
    font-weight: normal;
}

section article p.main-title  {
    font-style: italic;
    font-size: 16pt;
    line-height: 20pt;
    color: #333333;
    font-weight: bold;
}

.main-snippet {
    font-size: 10pt;
    line-height: 15pt;
    color: #333333;
}

/*#endregion*/

/*#region opinion*/

.opinionHeaderTitle {
    text-align: center;
    font-size: 16pt;
    font-style: italic;
    color: #333333;
}

section article:first-of-type span.opinion-title  {
    font-style: italic;
    font-size: 12pt;
    line-height: 15pt;
    color: #333333;
    font-weight: normal;
}

.opinion-title {
    font-style: italic;
    font-size: 12pt;
    line-height: 15pt;
    color: #333333;
    font-weight: bold;
}

.opinion-snippet {
    font-size: 10pt;
    line-height: 15pt;
    color: #333333;
}

/*#endregion*/

/*#region travel*/

.travelHeaderTitle {
    text-align: left;
    font-size: 12pt;
    line-height: 15pt;
    font-weight: bold;
    font-style: italic;
    border-bottom: 3px dotted black;
}

section article:first-of-type span.travel-title  {
    font-style: italic;
    font-size: 12pt;
    line-height: 15pt;
    color: #333333;
    font-weight: bold;
}

.travel-title {
    font-size: 12pt;
    line-height: 15pt;
    font-weight: bold;
    font-style: italic;
}

.travel-snippet {
    font-size: 10pt;
    line-height: 15pt;
    color: #333333;
}

/*#endregion*/

/*#region Content*/

.content-title {
    text-align: left;
    font-size: 26pt;
    line-height: 28pt;
     color: #333333;
    font-weight: bold;
    font-style: italic;
}

.content-content {
    font-size: 10pt;
    line-height: 15pt;
    color: #333333;
    font-weight: normal;
}


/*#endregion*/

/*#region related*/

.related-title {
    text-align: left;
    font-size: 16pt;
    line-height: 18pt;
     color: #333333;
    font-weight: bold;
    font-style: italic;
}

.related-content {
    font-size: 12pt;
    line-height: 15pt;
    color: #666666;
    font-weight: bold;
    font-style: normal;
}

/*#endregion*/



/*#endregion*/