<!--    We are using underscore.js templating
        http://underscorejs.org/#template     
-->

<!--    Template functions can both interpolate variables, using <%= … %>, 
        as well as execute arbitrary JavaScript code, with <% … %>. 
        If you wish to interpolate a value, and have it be HTML-escaped, use <%- … %>
-->


  <!--This renders the Category Menus from the client-model-->
<script type="text/template" id="categoryMenu-template">
    

    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <% //debugger; %>
            <% _.each(fetched_categories, function(category)  { %>
                <% 
                    //Here we create a variable named URL so we can dynamically create the href url
                    var url = "#/" + category.shortName; 
                %>
                <li><a href='<%= url %>'><%= category.displayName %></a></li>
            <% }); %>
        </ul>
    </div>

</script>

@*
Instead of 
<%= category.displayName %>,

you can also use the .get() method
<%= category.get("displayName") %>
*@